<ion-content>
  <div class="card-container">
    <ion-card mode="ios">
      <ion-row>
        <ion-col size-md="3" size="12" class="ion-padding ion-bkg">
          <img
            src="https://cashback-lefrecce.herokuapp.com/images/cashback_landing.png"
            alt="Ionic logo"
            loading="lazy"
          />
        </ion-col>
        <ion-col size-md="9" size="12" class="welcome">
          <ion-card-header>
            <ion-card-title> Accedi a CashBack LeFrecce </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-button mode="ios" (click)="login()" [disabled]="false" shape="round" color="warning"> Accedi </ion-button>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
